.div1{
    width: 200px;
    height: 200px;
    background-color: red;
}
.div2{
    width: 200px;
    height: 200px;
    background-color: yellow;
}
.div3{
    width: 200px;
    height: 200px;
    background-color:green;
}
.premierh1{
    text-align: center;
    color: red;
    font-family: 'lucida Sans';
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
}
.divmaman{
    display: flex;
    flex-direction: row;
}


.divA{
    width: 200px;
    height: 200px;
    background-color: rgb(200, 255, 0);
}
.divB{
    width: 200px;
    height: 200px;
    background-color: rgb(115, 0, 255);
}

.divC{
    width: 200px;
    height: 200px;
    background-color:
    rgb(128, 0, 51);
}
.divmaman2{
        display: flex;
        flex-direction: row-reverse;
    }
.div{
    width: 200px;
    height: 200px;
    background-color: rgb(155, 144, 168);

}
.divQ{
    width: 200px;
    height: 200px;
    background-color: rgb(71, 55, 90);

}
.divS{
    width: 200px;
    height: 200px;
    background-color: rgb(138, 43, 87);

}
.divmaman3{
    display: flex;
    flex-direction: row-reverse;
}
